<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>{{ site.about }}</p>
      </div>

      <div class="col-sm-4">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
              <a href="https://groups.google.com/g/haut-ai">{% fa_svg fas.fa-envelope %} Groups Mail</a>
            </li>
            <li>
              <a
                href="https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=sZZk51PViMuF1DVDotsqK0REN33kbINQ&group_code=956866352">{%
                fa_svg fab.fa-telegram %} QQ 群组 (956866352) </a>
            </li>
            <li>
              <a href="https://github.com/haut-ai/">{% fa_svg fab.fa-github %} GitHub </a>
            </li>
            <li>
              <a href="https://space.bilibili.com/3493273823873601">{% fa_svg fab.fa-bilibili %} Bilibili </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        {% include pic.html name="Icon-256" %}
        <p style="color: #384452"> The best team on the planet. </p>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->